
<h1>To Do</h1>
<ul>
        <li>
            <input type="checkbox" value="buy turbo"> 
            buy turbo
            </li>
    <li>
         <input type="checkbox" value="get bbs rims"> 
        get bbs rims
        </li>
    <li>
         <input type="checkbox" value="Buy RB26"> 
        Buy RB26
        </li>
    <li>
         <input type="checkbox" value="Research rocketbunny bodykit"> 
        Research rocketbunny bodykit
        </li>
    <li>
        <input type="checkbox" value="Order lug nuts"> 
        Order lug nuts
  
       </li>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
</ul>


