<input type= "checkbox">
          <hl><%=@todo_description%></hl>        
          <h3>Todo #<%= params[:id] %></h3>
            <ul>
                <li class="detListItem">Date:Today</li>
                <li class="detListItem">Deetz: Do the things</li>
                <li class="detListItem">Time: Infinity</li> 
            </ul>
            <a href="index.html">Pervious
        </a>
         
       